/*
 Vazir A Persian (Farsi) Font
 by Saber Rastikerdar
 http://rastikerdar.github.io/vazir-font/
 https://github.com/rastikerdar/vazir-font
*/

@font-face {
  font-family: Vazir;
  src: url('../fonts/Vazir/Vazir.eot');
  src: url('../fonts/Vazir/Vazir.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir/Vazir.woff') format('woff'),
       url('../fonts/Vazir/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/Vazir/Vazir-Bold.eot');
  src: url('../fonts/Vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir/Vazir-Bold.woff') format('woff'),
       url('../fonts/Vazir/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/Vazir/Vazir-Light.eot');
  src: url('../fonts/Vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir/Vazir-Light.woff') format('woff'),
       url('../fonts/Vazir/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

body {
    font-family: Vazir, Tahoma, "Open Sans", Helvetica, Arial, sans-serif;
}

body.custom-font-enabled {
        font-family: Vazir, Tahoma, "Open Sans", Helvetica, Arial, sans-serif;
}

body h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .navbar.navbar-inverse{
        font-family: Vazir, Tahoma, "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: bold;
}

body.custom-font-enabled {
        font-family: Vazir, Tahoma, "Open Sans", Helvetica, Arial, sans-serif;
}
