.eng {
	font-size: 0.9em;
	color: #ADAAAA;
	margin-top: 8pt;
}

body {
	text-align: center;
	font-size: 16px;
	padding-bottom: 5em;
	background: url(../images/patern.png) #E8E8E8 !important;
}

body .header .well{
	background: #333;
	border-bottom: solid 1px #222;
	color: white;
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
}

body .header .navbar {
	margin: 0;
}

body .content .search-box{
	border : solid #262626;
	border-width: 0 .1em 0 .1em;
	box-shadow: 0 0.4em .5em #404040;
	min-height: 50em;
	background: white;
	overflow: auto;
}

body .content .search-box input {
	margin-top: 1em;
	line-height: 2em !important;
}

body .content .search-box table {
	font-size: 1.4em;
}

body .footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	box-shadow: 0 -.04em 1em rgb(44, 44, 44);
}

body .footer .well{
	background: #333;
	border-bottom: solid 1px #222;
	color: white;
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
	padding: 1em;
}

body .footer .well p {
	margin-bottom: 0;
	line-height: 1.5em;
}

.ng-enter, .ng-move{
	-webkit-animation: fadeIn 0.5s;
	-moz-animation: fadeIn 0.5s;
	-o-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}

.ng-leave{
	-webkit-animation: fadeOut 0.5s;
	-moz-animation: fadeOut 0.5s;
	-o-animation: fadeOut 0.5s;
	animation: fadeOut 0.5s;
}

.form-group-lg .form-control {
	text-align:center;
}


@media (max-width: 980px){
	.header h2{
		font-size: 1.5em;
		margin: 0;
		line-height: 1.5;
	}

	body .content .search-box table{
		font-size: 1em;
	}
}

@media (max-width: 767px){
	.header h2{
		font-size: 1em;
		margin: 0;
		line-height: 1.5;

	}
	body .content .search-box {
		max-width: 30em;
		margin: auto;
	}
}