.eng {
	font-size: 0.9em;
	color: #ADAAAA;
	margin-top: 8pt;
}

body {
	text-align: center;

}

table {
	font-size: 1.7em;
}

.ng-enter, .ng-move{
	-webkit-animation: fadeIn 0.5s;
	-moz-animation: fadeIn 0.5s;
	-o-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}

.ng-leave{
	-webkit-animation: fadeOut 0.5s;
	-moz-animation: fadeOut 0.5s;
	-o-animation: fadeOut 0.5s;
	animation: fadeOut 0.5s;
}

.form-group-lg .form-control {
	text-align:center;
}
