<div class="about-page">
  <br>
  <a href="#/estates" class="btn btn-primary btn-block">{{placeholder}}</a>
  <br>
  <p class="text-right text-justify">
    این پروژه توسط <a href="https://jadi.net"> جادی </a> ، <a href="https://github.com/MasoodRezazadeh">مسعود</a>و <a href="https://github.com/miladkian">میلاد</a> برای نشان دادن مشکل کاربری وبسایت راهنمای 118 مخابرات استان تهران راه اندازی شده است.
    بهینه سازی UI و UX از <a href="http://mamos98.ga/">مسعود</a>
  <br>
    برای اطلاعات بیشتر در این باره یا ارائه انتقاد و پیشنهاد می توانید مطلب مربوطه را در وبلاگ جادی مطالعه کنید.همچنین پروژه "پیش شماره" به صورت باز-متن تحت لیسانس <a href="https://en.wikipedia.org/wiki/GNU_General_Public_License">نسخه 3 GNU GPL</a> در گیت هاب به آدرس زیر قرار گرفته است. برای بهبود پروژه ، شرکت در آن و یااستفاده از آن می توانید به آدرس زیر مراجعه کنید:
    <br>
  </p>
  <a href="https://github.com/jadijadi/pishshomare" class="btn btn-default"><i class="fa fa-github"></i>  گیت هاب : پیش شماره</a> <a href="http://jadi.net/2015/02/%D9%88%D8%B6%D8%B9%DB%8C%D8%AA-%D8%A7%D8%B3%D9%81-%D8%A8%D8%A7%D8%B1-%D8%B3%D8%A7%DB%8C%D8%AA-%D9%87%D8%A7%DB%8C-%D8%AF%D9%88%D9%84%D8%AA%DB%8C-%D9%88-%D8%A8%DB%8C%DA%A9%D8%A7%D8%B1%DB%8C-%D8%A8%D9%87/" class="btn btn-success"><i class="fa fa-rss"></i>  مشکل کاربری راهنمای 118 تهران</a>
  <div>
    <br>
    <p>
      تکنولوژی های مورد استفاده در پروژه:
    </p>
    <a href="https://angularJS.org" class="btn btn-danger"> <span class="badge">1.2.29</span> AngularJS</a>
    <a href="https://jquery.com" class="btn btn-default"> <span class="badge">2.1.4</span> Jquery</a>
    <a href="https://bootstrap.com" class="btn btn-info"> <span class="badge">3.3.6</span> Bootstrap</a>
    <a href="https://font-awesome.io" class="btn btn-success">FontAwesome</a>
  </div>
</div>
