<div>
    <form class="form-horizontal col-xs-12">
        <div class="form-group form-group-lg has-warning">
            <input class="form-control " id="query inputWarning" ng-model="query" type="text"
                   placeholder="شماره‌های ضروری" autofocus>
            <a ng-click="query = ''" ng-show="query.length > 0" class="clearQuery">X</a>
        </div>
    </form>
    <table class="table table-striped col-xs-12">
        <tr ng-repeat="busticket in busticketFilter = (busticket | filter: query) | orderBy: 'name' ">
            <td>
                {{busticket.name}}
                <div class="phone">
                <b>تلفن : </b>{{busticket.phone}}
                </div>
            </td>
        </tr>
        <tr ng-hide="busticketFilter.length">
            <td>
                متاسفانه یافت نشد
                <div class=eng>
                    لطفا مورد دیگری را جستجو کنید
                </div>
            </td>
        </tr>
    </table>
</div>
