<div>
    <form class="form-horizontal col-xs-12">
        <div class="form-group form-group-lg has-error">
            <input class="form-control " id="query InputError" ng-model="query" type="text"
                   placeholder="{{placeholder}}" autofocus>
            <a ng-click="query = ''" ng-show="query.length > 0" class="clearQuery">X</a>
        </div>
    </form>
    <table class="table table-striped col-xs-12">
        <tr ng-repeat="code in codesFilter = (codes | filter: query) | orderBy: 'name' ">
            <td>
                {{code.name}}
                <div class=eng>
                    {{code.eng}}
                </div>
            </td>
        </tr>
        <tr ng-hide="codesFilter.length">
            <td>
                متاسفانه یافت نشد
                <div class=eng>
                    لطفا مورد دیگری را جستجو کنید
                </div>
            </td>
        </tr>
    </table>
</div>
